.mover {
    padding-top: 170px!important;
}
.principal {
    margin-top: 50px;
    background: linear-gradient(to right, #faefef, #f8e8ee);
    padding: 60px 0;
}
.formulario .card,
.info .card {
    background: #ffffff;
    padding: 15px; 
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    border: none;
    width: 100%; 
    height: auto;
    margin-bottom: 0;
}
.formulario input,
.formulario textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 15px;
    outline: none;
    transition: all 0.3s ease;
}

.formulario input:focus,
.formulario textarea:focus {
    border-color: #4f46e5; 
    box-shadow: 0 0 6px rgba(79, 70, 229, 0.4);
}
.grupo {    
    margin-bottom: 15px; 
}
.submit-btn {
    width: 100%;
    background: linear-gradient(to right, #0ea5e9, #48cae4);
    border: none;
    padding: 15px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    gap: 8px;
}

.submit-btn:hover {
    filter: brightness(1.1);
    box-shadow: 0 6px 20px rgba(14, 165, 233, 0.3);
    transform: translateY(-2px);
}

select {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
  cursor: pointer;
}
select:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 6px rgba(79, 70, 229, 0.4);
}
select option {
  padding: 10px;
}
