<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light personalizado">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="assets/images/Logo.jpg" width="30" height="30" class="d-inline-block align-top mr-2 logo-principal" alt="">
            <div class="d-flex flex-column lh-1">
                <span class="font-weight-bold">Mundo Animal</span>
                <small class="">Clínica Veterinaria</small>
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/usuarios}">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/mascotas}">Mascotas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacto">Contacto</a>
                </li>
            </ul>


            <!--
            <button class="btn btn-salir d-flex align-items-center"
              *ngIf="loggedIn && rol === 'veterinario'"
              (click)="logout()">
              <img src="assets/images/salir.png" width="30" height="30" alt="Logo Cerrar Sesión">
              Cerrar Sesión
            </button>
            -->

            <a class="btn btn-llamar d-flex align-items-center">
                <img src="assets/images/Telefono.png" width="30" height="30" alt="Logo Telefono"> Llamar Ahora
            </a>
        </div>
    </nav>
</header>