<div class="container mt-5">
  <div class="card tabla-card">
    <h2 class="titulo">Mascotas tratadas</h2>

    <div *ngIf="mascotas.length === 0" class="alerta-vacia">
      <p>Este veterinario aún no ha tratado mascotas </p>
    </div>

    <div *ngIf="mascotas.length > 0" class="tabla-container">
      <table class="tabla">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Especie</th>
            <th>Raza</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of mascotas">
            <td>{{ m.id }}</td>
            <td>{{ m.nombre }}</td>
            <td>{{ m.especie }}</td>
            <td>{{ m.raza }}</td>
            <td>
              <span class="estado" [ngClass]="m.estado === 'activo' ? 'activo' : 'inactivo'">
                {{ m.estado }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>