
.formulario .card,
.info .card {
    background: #ffffff;
    padding: 15px; 
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    border: none;
    width: 100%; 
    height: auto;
}


.grupo {    
    margin-bottom: 15px; 
}

textarea {
    resize: vertical;
    min-height: 80px; 
    font-family: inherit;
}

.map-container {
    /*
    border-radius: 12px;
    overflow: hidden;
    */
    border-radius: 20px;       
    overflow: hidden;
    max-width: 1000px;         
    margin: 0 auto;     
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
   
}


.formulario input,
.formulario textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 15px;
    outline: none;
    transition: all 0.3s ease;
}

.formulario input:focus,
.formulario textarea:focus {
    border-color: #4f46e5; 
    box-shadow: 0 0 6px rgba(79, 70, 229, 0.4);
}

.mover {
    padding-top: 170px!important;
}

.submit-btn {
    width: 100%;
    background: linear-gradient(to right, #0ea5e9, #48cae4);
    border: none;
    padding: 15px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    gap: 8px;
}

.submit-btn:hover {
    filter: brightness(1.1);
    box-shadow: 0 6px 20px rgba(14, 165, 233, 0.3);
    transform: translateY(-2px);
}

.icono-btn {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    vertical-align: middle;
}