<main class="mover principal d-flex flex-column align-items-center p-4">

  <div class="mover" *ngIf="rol === 'cliente'">
    <h6>Parece que estas en el lugar equivocado, necesitas permisos para ver esta pagina</h6>
  </div>

  <div class="no-hover card shadow-lg rounded-4 w-100" style="max-width: 1000px;" *ngIf="rol === 'veterinario' || rol === 'admin'">
    <div class="card-body">

      <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <h4 class="mb-4">
            <span class="fw-bold">Base de Datos de</span>
            <span class="resaltar">Dueños</span>
            <h6>
              Mostrando 5 de {{ usuarios.length }} dueños registrados
            </h6>
          </h4>
        </div>

        <a class="btn btn-llamar d-flex align-items-center" [routerLink]="['/usuarios/agregar']">
          <img src="/assets/images/mas.png" width="30" height="30" alt="Logo Mas"> Nuevo Dueño
        </a>
      </div>
    </div>

    <table class="table align-middle table-hover text-center">
      <thead class="table-light">
        <tr>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Telefono</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        
        <tr *ngFor="let usuario of usuarios" >
        <ng-container *ngIf="usuario.email !== 'admin@example.com'">
          <td class="align-middle">
            <img [src]="usuario.foto" 
                 [alt]="'Imagen de ' + usuario.nombre" 
                 class="rounded-circle" width="50" height="50" />
          </td>

          <td class="align-middle">{{ usuario.nombre }}</td>
          <td class="align-middle">{{ usuario.telefono }}</td>
          <td class="align-middle">{{ usuario.email }}</td>

          <td class="align-middle">
            <div class="d-flex contenedor-botones align-items-center justify-content-center">

              <button class="btn-tabla btn btn-sm btn-outline-danger d-flex align-items-center justify-content-center"
                      (click)="eliminar(usuario.id)">
                <img src="/assets/images/borrar.png" alt="Icono Borrar">
              </button>

              <button class="btn-tabla btn btn-sm btn-outline-info d-flex align-items-center justify-content-center"
                      [routerLink]="['/usuarios/editar', usuario.id]">
                <img src="/assets/images/editar.png" alt="Icono Editar">
              </button>

              <button class="btn-tabla btn btn-sm btn-outline-info d-flex align-items-center justify-content-center"
                      [routerLink]="['/usuarios', usuario.id]">
                <img src="/assets/images/mas.png" alt="Icono mas">
              </button>

            </div>
          </td>
        </ng-container>
        </tr>
        
      </tbody>
    </table>

  </div>
</main>
