<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/Styles.css}">
    <link rel="stylesheet" th:href="@{/css/NavBar.css}">
<link rel="stylesheet" th:href="@{/css/Botones.css}">
<link rel="stylesheet" th:href="@{/css/Formularios.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div th:if="${rol=='veterinario'}">
        <div th:replace="fragmentos :: header-vet" ></div>
    </div>
    <div th:if="${rol=='dueno'}">
        <div th:replace="fragmentos :: header-us" ></div>
    </div>
    <main class="mover principal d-flex flex-column align-items-center p-4">
        <div class="mover"  th:if="${rol=='dueno'}">
            <H6>Parece que estas en el lugar equivocado, necesitas permisos para ver esta pagina</H6>
        </div>
    <div class="no-hover card shadow-lg rounded-4 w-100" style="max-width: 1000px;" th:if="${rol=='veterinario'}">
        <div class="card-body">
            <div class="cabeza d-flex align-items-center justify-content-between mb-4">
                <div>
                    <h4 class="mb-0">
                        <span class="fw-bold">Base de Datos de</span>
                        <span class="resaltar">Pacientes</span>
                    </h4>
                    <h6>
                        <span th:text="'mostrando 5 de ' + ${mascotas.size()} + ' pacientes mostrados'"></span>
                    </h6>
                </div>
            </div>
        </div>
            <table class="table align-middle table-hover text-center">
                <thead class="table-light">
                    <tr>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>Especie</th>
                        <th>Raza</th>
                        <th>Peso</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="mascota : ${mascotas}"  
                        style="cursor: pointer;">
                        
                        <td class="align-middle">
                            <img th:src="${mascota.foto}" 
                                 alt="Imagen de + ${mascota.nombre}" 
                                 class="rounded-circle" 
                                 width="50" height="50" />
                        </td>

                        <td th:text="${mascota.nombre}" class="align-middle"></td>
                        <td th:text="${mascota.especie}" class="align-middle"></td>
                        <td th:text="${mascota.raza}" class="align-middle"></td>
                        <td th:text="${mascota.peso + ' kg'}" class="align-middle"></td>
                        <td class="align-middle">
                            <span class="badge rounded-pill bg-success" 
                                  th:if="${mascota.estado == 'Saludable'}"
                                  th:text="${mascota.estado}"></span>
                            <span class="badge rounded-pill bg-warning text-dark" 
                                  th:if="${mascota.estado == 'En tratamiento'}"
                                  th:text="${mascota.estado}"></span>
                            <span class="badge rounded-pill bg-info text-dark" 
                                  th:if="${mascota.estado == 'Recuperándose'}"
                                  th:text="${mascota.estado}"></span>
                            <span class="badge rounded-pill bg-primary" 
                                  th:if="${mascota.estado == 'Control rutinario'}"
                                  th:text="${mascota.estado}"></span>
                            <span class="badge rounded-pill bg-danger text-dark"
                                th:if="${mascota.estado == 'inactivo'}"
                                th:text="${mascota.estado}"></span>
                        </td>

                        <td class="align-middle">
                            <div class="d-flex contenedor-botones">
                                <button class="btn-tabla btn btn-sm btn-outline-info me-2 d-flex align-items-center justify-content-center"
                                th:onclick="|window.location.href='/mascotas/${mascota.id}'|">
                                    <img src="/images/ojo.png" alt="Icono Ojo">
                                </button>
                                <button class="btn-tabla btn btn-sm btn-outline-danger d-flex align-items-center justify-content-center"
                                th:onclick="|window.location.href='/mascotas/editar/${mascota.id}'|">
                                    <img src="/images/editar.png" alt="Icono Editar">
                                </button>
                                <button class="btn-tabla btn btn-sm btn-outline-danger d-flex align-items-center justify-content-center"
                                th:onclick="|window.location.href='/mascotas/delete/${mascota.id}'|">
                                    <img src="/images/borrar.png" alt="Icono borrar">
                                </button>
                            </div>
                        </td>
                    </div>

                    </tr>   
                </tbody>
            </table>



        </div>
    </div>
</main>

    <footer class="d-flex align-items-center justify-content-center">
            <div class="completo contenido d-flex justify-content-center">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="seccion info-principal d-flex flex-column align-items-start">
                    <div class="logo d-flex align-items-center justify-content-center">
                        <img src="/images/Logo.jpg" alt="Logo">
                        <div class="logo-text">
                            <h3>Mundo Animal</h3>
                            <p>Clínica Veterinaria</p>
                        </div>
                    </div>
                    <p class="descripcion">
                        Dedicados al cuidado y bienestar de tu mascota con más de 15 años de experiencia. Brindamos servicios veterinarios de calidad con tecnología moderna y mucho amor.
                    </p>
                    <div class="social">
                        <a href="#" class="social-link facebook">
                            <img src="/images/facebook.png" alt="logo facebook">
                        </a>
                        <a href="#" class="social-link instagram">
                            <img src="/images/instagram.png" alt="logo instagram">
                        </a>
                        <a href="#" class="social-link twitter">
                            <img src="/images/twitter.png" alt="logo x">
                        </a>
                    </div>
                </div>
                
                <div class="seccion d-flex flex-column">
                    <h3>Enlaces Rápidos</h3>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Servicios</a></li>
                        <li><a href="#">Sobre Nosotros</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Precios</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                
                <div class="seccion">
                    <h3>Contacto</h3>
                    <div class="info-contacto">
                        <div class="item d-flex align-items-center">
                            <img class="icono" src="/images/ubicacion.png" alt="logo ubicacion">
                            <div>
                                Av. Principal 123<br>
                                Centro, Ciudad 12345
                            </div>
                        </div>
                        <div class="item">
                            <img class="icono" src="/images/telefono-azul.png" alt="logo telefono">
                            <a href="">+1 (555) 123-4567</a>
                        </div>
                        <div class="item">
                            <img class="icono" src="/images/correo-verde.png" alt="logo correo">
                            <a href="mailto:info@mundoanimal.com">info@mundoanimal.com</a>
                        </div>
                        
                        <h3 class="horarios">Horarios de Atención</h3>
                        <p class="horas">Lunes - Viernes: 8:00 - 18:00</p>
                        <p class="horas">Sábados: 9:00 - 15:00</p>
                        <p class="horas">Domingos: Solo emergencias</p>
                    </div>
                </div>
                </div>
                <div class="d-flex completo flex-column align-items-center justify-content-center">
                    <div class="emergencia d-flex align-items-center">
                    <p><strong>Servicio de Emergencias 24/7</strong><br>Para urgencias fuera del horario normal, contamos con servicio de emergencias.</p>
                    <a href="#" class="btn-emergencia-footer">Llamar Emergencias</a>
                    </div>
                </div>
                <hr>
                <div class="footer-bottom">
                    © 2025 Mundo Animal. Todos los derechos reservados.
                </div>
            </div>
    </footer>
</body>
<script src="/JS/mascotas.js"></script>
</html>